{% extends 'base-be.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Users</h1>
        <a href="{{ path('app_admin_user_new') }}" class="btn btn-success">New</a>
    </div>

    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>Name</th>
                {# <th>Lastname</th> #}
                {# <th>Adress1</th>
                <th>Adress2</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>Country</th> #}
                <th>Tel</th>
                <th>IsVerified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {# <td>{{ user.password }}</td> #}
                {# <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.adress1 }}</td>
                <td>{{ user.adress2 }}</td>
                <td>{{ user.postalCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.country }}</td> #}
                <td>{{ user.tel }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td class="text-end">
                    {{ include('admin_user/_delete_form.html.twig') }}
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-dark mb-1"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6"><div class="text-start">No data found in the BDD.</div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
