{% extends "base.html.twig" %}

{% block title %}
	{{ categorie.name}}
{% endblock %}

{% block body %}

	<h1>{{ categorie.name }}</h1>
	<div class="row">
		{% if categorie.imageName is not null %}
			{% set image = categorie.imageName %}
		{% else %}
			{% set image = "default.jpg" %}
		{% endif %}
		<div class="col-12 col-md-3">
			<img src="{{ asset('images/categorie/' ~ image) }}" alt="categorie illustration {{ categorie.name }}" class="img-fluid">
		</div>
		<div class="col-12 col-md-9">
			{% if categorie.description is not null %}
				{{ categorie.description|raw }}
			{% else %}
				<p>No description yet for this category.</p>
			{% endif %}
		</div>
	</div>

	<h2 class="mt-5">Our Books</h2>
	<class="row">
		{% for livre in categorie.livres %}
        <div class="col-12 col-md-3 col-lg-2">
			<div class="card">
				{% if livre.images|length > 0 %}
                    {% set image = livre.images[0].imageName %}
                {% else %}
                    {% set image = "default.jpg" %}
                {% endif %}
                <img src="{{ asset('images/livre/' ~ image) }}" class="card-img-top" alt="{{ livre.title }}">
				<div class="card-body">
					<h5 class="card-title">{{ livre.title }}</h5>
					<p class="card-text">{{ livre.price }}</p>
					<a href="{{ path('app_front_livre', {slug: livre.slug}) }}" class="btn btn-dark">See</a>
				</div>
			</div>
		</div>
        {% endfor %}
	</div>


{% endblock %}
